workspace/Docker_Heise_DV/wsdl/AllCustomer_Input.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="http://www.metamatrix.com/customer_Input" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.metamatrix.com/customer_Input">
  <xs:element name="customer_Input" type="customer_Input_Type"/>
  <xs:complexType name="customer_Input_Type">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="lastname" nillable="false" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
