workspace/Docker_Heise_DV/Heise/WebServices/Salesforce_VBL_Input.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="http://www.metamatrix.com/Contact_Input" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.metamatrix.com/Contact_Input">
  <xs:element name="Contact_Input" type="Contact_Input_Type"/>
  <xs:complexType name="Contact_Input_Type">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="Id" nillable="false" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
